:root{
  --lightblue: lightblue;
  --darkblue: #124258;
}

/* Global Defaults */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Navigation Bar CSS */
#navBar{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--darkblue);
}

/* defaults for heading */
#navBar h1{
  background-color: var(--lightblue);
  width: 20%;
  padding: 10px;
  font-size: 30px;
  color: var(--darkblue);
}

/* defaults for navigation buttons */
#navigation{
  display: flex;
  justify-content: space-around;
  width: 30%;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}

#navigation a{
  font-size: 20px;
  color: var(--lightblue);
  text-decoration: none;
  border-bottom: solid var(--lightblue);
}

/* Hero Image */
.hero-banner{
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
}

/* defaults for hero subtitle */
#subtitle{
  position: absolute;
  bottom: 8%;
  right: 2%;
  padding: 5px;
  color: var(--darkblue);
  background-color: var(--lightblue);
  width: fit-content;
  z-index: 2;
}

/* defaults for profile picture */
.hero-banner img{
  position: absolute;
  bottom: 12%;
  right: 4%;
  border: 6px solid var(--lightblue);
  height: 80%;
  width: auto 40%;
}

/* Defaults for Page Sections */
.page-section h2{
  float: left;
  text-align: right;
  width: 20%;
  color: var(--darkblue);
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}

.content{
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  margin-right: 10px;
  padding-left: 10px;
  border-left: solid var(--darkblue);
  margin-bottom: 25px;
}

/* About Me Section */

/* Work */
/* grid set up */
#grid-container{
  position: relative;
  width: 70%;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
    "mainProject mainProject"
    "project2 project3"
    "project4 project5"
}

.project{
  border: solid var(--lightblue);
}

.project:hover{
  box-shadow: inset 0px 0px 8px var(--lightblue), 0 0 15px var(--lightblue);
}

.project img{
  width: 100%;
  height: 100%;
}

#main-project{
  grid-area: mainProject;
}

#project2{
  grid-area: project2;
  background-color: aqua;
}

#project3{
  grid-area: project3;
}

#project4{
  grid-area: project4;
}

#project5{
  grid-area: project5;
}

/* defaults for card headings */
.card-heading{
  background-color: var(--lightblue);
  width: 20%;
  height: fit-content;
  padding: 10px;
  position: absolute;
}

/* Contact */
#contact{
  display: flex;
}

#contactcontent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contactcontent a{
  font-size: 20px;
  color: var(--darkblue);
  text-decoration: none;
  border-bottom: solid var(--darkblue);
}